/**
* Base template
*
*/
html, body {overflow-x: hidden;}

body {
	background: @blanco;
	margin: 0;
	font-family: @content;
	color: @gris;

}


#logo-sainet {
	background-image: url("../images/logo-sainet.png");
	background-repeat: no-repeat;
	height: 20px;
	// margin-right: 13px;
	width: 68px;
	// margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

#logo-sainet:hover {
	background-image: url("../images/logo_blanco.png");
	background-repeat: no-repeat;
}

#sainet_copy {
	font-family: @content;
	color: @blanco;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	width: auto;
	display: inline-block;
	clear: both;
	float: right;
}



//estilos footer

footer {
	.size(100%, auto);
	padding: 10px 0;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #3c3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#3c3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#3c3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3c3a3a',GradientType=0 ); /* IE6-9 */
	clear: both;
	margin-top: 5px;
	float: left;
	text-align: center;

	#footer-content {
		.size(1000px, auto);
		margin: 0 auto;
		font-size: @middlefont;
		color: @blanco;

		address {
			.size(450px, auto);
			float: left;
			text-align: left;

			ul {
				li > * {display: inline-block; vertical-align: middle;}

				li {
					margin-top: 3px;

					img {
						margin-right: 5px;
					}
				}
			}
		}

		#redes {
			.size(124px, auto);
			float: right;

			img {
				margin-left: 5px;
				opacity: 1;
				&:hover {opacity: 0.7;}

			}

			h3 {
				margin-bottom: 5px;
			}
		}
	}
}

.background-menu{
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #3c3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#3c3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#3c3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3c3a3a',GradientType=0 ); /* IE6-9 */
}

// Notifications
.global-notification {

	display: none;
	position: fixed;
	padding: 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #7A7260;
	background-color: lighten( #FFC633, 25%);
	.box-shadow( 0px 0px 6px darken(@gris, 50%) );
	color: darken(@gris, 60%) ;
	font-size: 1.5rem;
	text-align: center;
	z-index: 99999999;

	&.red { color: darken(red, 30%) }
}