#content-all{
	width: 680px;
	float: right;
	margin-bottom: 55px;

	.item-pagecontacto
	{
		h2{
			text-align: left;
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			color: #67A4FB;
			margin-bottom: 25px;
		}

		p{
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			text-align: left;
			}
		a{text-decoration: none;color:#000;}

		span{
			color:#8FBBFC;
		}

		td{
			float:left;
			line-height: 18px;
		}

		.formResponsive .formHorizontal input, 
		.formResponsive .formHorizontal textarea, 
		.formResponsive .formHorizontal select, 
		.formResponsive .formHorizontal .formValidation, 
		.formResponsive .formHorizontal .uneditable-input, 
		.formResponsive .formHorizontal .input-prepend, 
		.formResponsive .formHorizontal .input-append {
			background-color: #E5E4E3;}

		.tabla-contacto{
			margin-bottom: 50px;
			p img{
				border-radius: 10px;
			}
			.rsform{
				width: 326px;
				background-color: #FFF !important;
				box-shadow: 4px 4px 15px -3px;
				border-radius: 10px;
				padding-top: 11px;
				margin-left: 13px;
				border: solid 2px #DFDEDE;

			.rsform-block{
				margin: 0;
				float: none;
				width: 100%;
			}

			.formHorizontal textarea{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
			}

			input{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
			}

			.rsform-upload-box{
				border: none;
				vertical-align: middle;
			}

			.formControls{
				margin: 0;
			}

			.formControlLabel{
				display: inline-block;
				width:auto;}

			.formResponsive{

				input[type="submit"]{
					margin-right: 5px;
					background-color: #63A1FB;
					background-image: none;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					width: 90px;
				}
				input[type="reset"]{
					margin-right: 5px;
					background-color: #63A1FB;
					background-image: none;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					width: 90px;
					margin-right: 10px;
				}
				input[type="submit"]:hover{
					background-color: #211915;
				}
				input[type="reset"]:hover{
					background-color: #211915;
				}
			}
			}
		}
	}

	.item-page {

		h2{
			text-align: left;
			font-family: 'Open Sans', sans-serif;
			font-size: 24px;
			color: #67A4FB;
			margin-bottom: 5px;
		}

		p{
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			text-align: left;
			margin-bottom: 10px;
			line-height: 18px;
		}

		p.img-socio{

			img{
				border-bottom: 3px solid #000;
				margin-top: 10px;
			}	
		}
		a{text-decoration: none;color:#A6C9FD;}

		span{
			color:#5398FB;
		}

		.texto{
			margin-top: 20px;
			margin-bottom: 40px;
		}

		.texto-contacto{
			background-color: #FFF;
		}

		.rsform{
			display: inline-block;
			border-radius: 5px;
			width: 480px;
			margin-bottom: 35px;
			#gradient .vertical(#060505, #3D3B3B);
			input{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				margin: 0 auto;}
			span{ visibility: hidden;
			}
			.formControls{
				margin:0;}
			.formControlLabel{
				display: inline-block;
				width:auto;
			}
			.formResponsive{
				margin: 0;
			}

			.rsform-block {
			margin: 0;
			float: left;
			width: 50%;
			}
			.rsform-block-enviar{
				width: 100%;
				text-align: right;
			}

			.rsform-block-mensaje{
				width:100%;
			textarea{
				width: 94%;
			}
			}

			.btn-primary {
				margin: 10px 0;
				padding: 4px 0;
				background-color: #63A1FB;
				background-image: none;
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				width: 90px;
				color: #FFF;
				text-decoration: none;
				border:none;
				text-shadow: none;
			}

			.formContainer{
				margin-top: 15px;
			}
			.formResponsive{

				input[type="submit"]{
					margin-right: 5px;
					background-color: #63A1FB;
					background-image: none;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					width: 90px;
				}
				input[type="reset"]{
					margin-right: 5px;
					background-color: #63A1FB;
					background-image: none;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					width: 90px;
					margin-right: 10px;
				}
				input[type="submit"]:hover{
					background-color: #211915;
				}
				input[type="reset"]:hover{
					background-color: #211915;
				}
					.formHorizontal textarea{
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
			}
			}
		}

		table {
			tr {
				td{
					float: left;
					width: 50%;

					p{
						margin-bottom: 10px;
						margin-top: 25px;
						font-family: 'Open Sans', sans-serif;
						font-size: 14px;
						text-align: left;
						}
					}
					span{
						border-radius: 50%;
						font-family: 'Open Sans', sans-serif;
						font-size: 21px;
						background-color: #63A1FB;
						color: #FFF;
						margin-bottom: 63px;
						float: left;
						padding: 3px 7px;
						margin-right: 6px;
						margin-top: -7px;
					}
					img{
						margin-top:10px;
					}
					a{text-decoration: none;color:#A6C9FD;}
				}			
			}
		}
	}
