// Styles for forms of the aplication "Anuncios"

h2{
	text-align: left;
	font-family: @open;
	font-size: 24px;
	color: #67A4FB;
	margin-bottom: 25px;
}
.content-forms{ 
	border-radius: 10px;
	width: 97%;
	box-shadow: 1px 1px 5px 2px #ccc;
	padding: 20px 12px;
	margin-top: 50px;
}

#member-registration{ margin-bottom: 20px;
	legend{ h2; }
	textarea,  input[type="text"], input[type="password"], input[type="email"] {width: 70%; }
	label {width: 73%;
		.star, .red{
			color: @azulporta;
		}
	}

	.required{
		
		&.invalid{
			color: red;
		}
	}

	.tooltip{
		position: relative;
		width: 60%;
		padding: 10px 0;
		.border-radius( 10px );
		border: 2px solid #000;
		text-align: center;
		.box-shadow( 6px 4px 10px #9F9F9F );
		background-color: #fff;
		font-size: 16px;
		top: -659px;
		left: 50%;
		margin-left: -147px;
		opacity: 0;

		span{ font-size: 14px; }

		&:after, &:before { content: ''; position: absolute; left: 50%; margin-left: -7.5px; }

		&:after {
			bottom: -11px;
			#triangle .bottom( 15px, 15px, #FFF );
		}

		&:before {
			bottom: -15px;
			#triangle .bottom ( 15px, 15px, #000 );
		}
	}

}

.login{ margin-bottom: 30px;
	input[type="submit"], button[type="submit"]{
		width: 120px;
	}

	input#remember{display: none;}

	label {font-size: 16px; width: 52%; margin-bottom: 3px;

		&#remember-lbl{display: none;}
	}
}

.login-options {  float: left; width: 100%; margin-bottom: 20px;
	ul.loginops {
		width: 52%;
		text-align: center;
		margin: 0 auto;

		li{
			display: inline-block;


			a{ h2; text-decoration: none; font-size: 15px;}
		}
	}
}	

.greeting{ display: inline-block; margin-top: 4px;	
	b , a { 
		color: @blanco;
	}		
}
span.logout-button{
	display: inline-block;
	float: right;

	input[type="submit"]{
		margin-right: 5px;
		background-color: @azul!important;
		background-image: none!important;
		font-family:@open;
		font-size: 14px;


		&:hover{
			background-color: @darkhover!important;
			padding: 3px 5px!important;
			border: 1px solid @azul!important; 
		}
	}
}

.reset, .reset-confirm, .reset-complete { margin-bottom: 20px;
	p{text-align: justify; line-height: 21px;}

	fieldset{margin: 20px 0 5px;
		label { margin-bottom: 4px; font-size: 16px;
			.star {
				color: @azulporta;
			}
		}	
	}
}

#system-message-container{ 
	color: #4d4d4d;
	dt.message{
		border: none; box-shadow: none; color: #4360D3;
	}

	dd.message{
		border: 1px solid #63a1fb !important;
		box-shadow: 1px 2px 3px;
		margin-bottom: 16px;
		margin-top: 7px;
		padding: 5px;
		border-radius: 5px; 
		color: #4d4d4d;
	}

	h2{ 
		text-align: center; 
		padding: 12px;
		border-radius: 7px;
	}



	.notice, .message{ 
		font-size: 18px; 
		color: #4d4d4d;

		h2{
			font-size: 18px; 
			color: #4d4d4d;
			border: 1px solid #4d4d4d;
		}
	}
	.error{
		color: red; 
		font-size: 17px;

		h2{
			font-size: 17px; 
			color: red;
			border: 1px solid red;
		}

	}
	.warning{

		color: orange;

		h2{
			color: orange;
			border: 1px solid orange;
		}

	}
	.success{ 

		h2{
			color: green; 
			border: 1px solid green;
		}
	}
}

#crear-anuncio{ margin-bottom: 20px;
	h2{
		font-size: 20px;

		&.desc{
			margin: 20px 0 15px 30px;
		}
	}
	.content-images.content-multimedia{
		ul{
			li{ 
				img{width: 175px; height: 128px;}
			}
		}
	}
	#anuncio-form{
		table{
			border-radius: 10px;
			width: 100%;
			box-shadow: 1px 1px 5px 2px #ccc;
			padding: 25px 12px;

			textarea, select,  input[type="text"], input[type="password"], input[type="email"] {width: 86%;  margin-bottom: 15px;
				&.detallada{
					height: 70px;
				}
				&.desc-corta{ height: 30px;}

				&.corta{width: 72%; margin-left: 10px;}
			}
			label {width: 88%; margin:  5px 0;
				&.corta{width: 75%;}
			}
		}
		.upload-images{
			.content-forms;

			h2{display: inline-block; float: left;}
			p{clear: both;}

			.qq-upload-button{
				.buttonsApp( 18px, 7px );
				font-size: 1em;
			}

		#image-uploader{
			margin-right: 5px;
			background-color: @azul;
			background-image: none;
			font-family:@open;
			font-size: 14px;
			border: none;
			float: right;
			border-radius: 3px;
			width: 150px;
			color: #fff;
			padding: 6px;
			margin-top: 19px;

			.qq-upload-button{height: 16px;}

			&:hover{
				background-color: @darkhover;
			}
		}
			

			.content-images {
				ul{
					li{
						border: 1px solid #ccc;
						display: inline-block;
						margin: 7px 6px;
						position: relative;
						padding: 2px;

						.delete-link{
							text-decoration: none;
							color: transparent;
							position: absolute;
							top: 0;
							right: 0;
						}

						&:hover{
							
							border: 1px solid @azul;


							.delete-link{
								text-decoration: none;
								color: #63a1fb;
								position: absolute;
								top: 0;
								padding-top: 60px;
								width: 81%;
								vertical-align: middle;
								display: table-cell;
								height: 55%;
								right: 0;
								text-align: right;
								font-size: 18px;
								padding-left: 1px;
								padding-right: 33px;
								background: url("../templates/tsbcatalogo/img-anuncios/caneca-azul.png") no-repeat 19px 62px rgba(0, 0, 0, 0.64);

							}
						}
					}
				}
			}
		}
		.upload-ubicacion{
			.content-forms;

			input{width: 33%; float: right; margin-right: 15px; clear: both;}
			label{
				float: right;
				clear: both;
				text-align: center;
				margin-bottom: 4px;
				width: 65%;
			}

			span{
				width: 45%;
				text-align: left;
				float: left;

				&.star{
					color: @azul;
					float: none;
					width: auto;
				}
			}

		}

		#asignar{
			.content-forms;
			width: 100%;	
			margin-top: 35px;

			select{ clear: both;}

			span{
				clear: both;
				text-align: left;
				float: left;
			} 

			p{
			 text-align: left;
			 margin:10px 0 10px 20px;
			}
			.fondo-gris{
				background: #ECECEC;
				width: 90%;
				padding:10px 12px 20px 12px;
				margin: 12px 0 12px 22px;
				border-radius: 3px;
				border: 2px solid @azul;

				.select2-container{
					width: 96%;
					
				}

				span{ 
					color: #000; 
					font-weight: 
					bold; font-size: 11px;
					margin-left: 10px;
				}
			}
		}

		#all_planes{
			margin: 7px 0 12px 30px;
			float: left;
		}
		.crear-complete{
			float: left;width: 100%;
			#crear-complete, #edit-anuncio-button{
				width: 200px;
				margin: 30px 0 12px 0px;
				float: right;
			}
		}
	}
}
input.aceptar{margin-bottom: 15px;}