.contentedit { 
	h2{ margin-left: 20px;}

	 .cuenta{ 
	 	ul{
	 		li{ display: inline-block;
	 			float: left; width: 31%;

	 			i{ 
	 				cursor: pointer;
	 				display: inline-block;
	 				padding: 17px 0 17px 70px;

 					&.nuevo  {background: url("../templates/tsbcatalogo/img-anuncios/circulo-azul.png") no-repeat 0px 0px; }
		
		
					&.desactivar {background: url("../templates/tsbcatalogo/img-anuncios/circulo-gris.png") no-repeat 0px 0px; }
				
				
					&.activar  {background: url("../templates/tsbcatalogo/img-anuncios/circulo-verde.png") no-repeat 0px 0px; }
	 			}
	 		}
	 	}
	 }	

	 .tabs { float: left; width: 100%; margin-top: 50px;
	 	.titles-tabs { width: 100%;

	 		li{	display: inline-block;
	 			float: left; width: 157px;
	 			span{
	 				text-align: center;
	 				padding: 16px 0px 13px;
	 				width: 100%;
	 				display: inline-block;
	 				

					&.perfil { 
						background: @azul; 
						color: @blanco; 
						border-radius: 15px 0 0 0;
						box-shadow: -1px -3px 3px 1px #ccc;
					}


					&.anuncios  { 
						background: @blanco; 
						cursor: pointer;
						color: #4d4d4d;
						border-radius: 0 15px 0 0; 
						box-shadow: 2px -3px 3px 1px #ccc;
					}
	 			}
	 		}
	 	}
	 }	

	.profile-edit{
		clear: both;
		box-shadow: 1px 1px 5px 2px #ccc;
		padding: 20px 0;
		margin-bottom: 20px;

		.edit-form{width: 100%;
			tr{ 
				width: 34%;
				display: inline-block;

					#jform_username-lbl, #jform_name-lbl, #jform_lastname-lbl{color: #919090;}
					#jform_username, #jform_name, #jform_lastname{color: #919090;}

				td{
					input{width: 95%;}
					label { width: 96%;}
				}
				&:nth-child(2n+1){margin-left: 40px; float: left;}
				&:nth-child(2n){margin-right: 40px;float: right;}
			}
			 &:nth-child(2){display: none;}
		}

		button{
			margin-right: 5px;
			background-color: @azul;
			background-image: none;
			font-family: @open;
			font-size: 14px;
			border: none;
			border-radius: 3px;
			width: 90px;
			margin-right: 10px;
			color: #fff;
			margin-top: 12px;
			margin-bottom: 20px;

			a{ color: #fff; text-decoration: none;}

			&:hover{background-color: @darkhover;}
		}
		
	}
}

	 
	
				
			
		
	