<div class="content-compartir">
	<form class="forms" id="formCompartir" name="compartir">
		<ul>
			<li>
			<label>Su Nombre:</label>
			<input type="text" name="nombre" />
			</li>

			<li>
			<label>Su Correo:</label>
			<input type="text" name="correo" />
			</li>
			
			<li>
			<label>Correo Amigo</label>
			<input type="text" name="mailfriend" />
			</li>
			<li>
			<label>Observaciones adicionales:</label>
			<textarea name="observaciones"></textarea>
			</li>
		</ul>

		<div class="content-buttons">

		<ul class="buttons">
		<li><input type="reset" value="Borrar" /></li>
		<li><input type="submit" value="Enviar" /></li>
		</ul>
		</div>
	</form>
</div>