<ul class="bxslider">
<% jQuery.each( planes, function( key, plan ){ 
  console.log( plan );
  %>
  <li>
  	<div class="planes">

  		<table class="p_planes">
  			<tr>
  				<td class="name_plan">
  					<p class="title"><%= plan.titulo %></p>
  				</td>
  			</tr>
  			<tr>
  				<td class="p_tiempo">
  					<p>Tiempo en meses</p>
  					<p class="time"><%= plan.duracion %> meses</p>  					

  				</td>
  			</tr>
  			<tr>
  				<td class="p_description">
  					<p>Características</p>
  					<p class="p_description"><%= plan.caracteristicas %></p>  					
  				</td>
  			</tr>
  			<tr>
  				<td class="p_price">
  					<p>Precio</p>
  					<p class="price">$ <%= plan.precio %></p>
  				</td>
  			</tr>
  			<tr>
  				<td class="p_plan">
  					<p>Tipo de plan</p>
  					<p class="price"><%= (plan.tipo_plan == 1) ? "Anunciante" : "Socia franquicia"  %></p>
  				</td>
  			</tr>
  			<tr>
  				<td class="p_descuento">
  					<p>Descuento</p>
  					<p class="price"><%= plan.descuento %></p>
  				</td>
  			</tr>

  		</table>
  		
  	</div>

  </li>

<%	
})%>
</ul>